/*
Todo desenvolvedor usa este site para consultas e duvidas sobre o que usar em uma pagina, 
www.w3schools.com 
Box model = conjunto margin + border + padding + conteudo
dev tools: com ele você inspeciona e altera o visual da página e suas configurações no google.
*/

body {
    background:#ece6e6;
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin: 5px 0px;
    letter-spacing: normal;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
}

h2 {
    margin: 5px 0px 30px;
    font-size: 1.2em;
    font-style: italic;
    color: rgb(73, 73, 73);
    font-weight: 100; /* tira o bold da fonte, sem negrito */
    letter-spacing: -0.8px;
}

h3 {
    background-color: #f8f4ed;
    border: 1px solid #5a5959;
    color:#1db81dfd;
}

.foto-rz {
    width: 170px;
    height: 190px;
    border: 2px solid #ffff; /* shorthand */
    border-radius: 50%; /* deixa os cantos arredondados. quanto maior o valor em pixels, mais redondo. para totalmente redondo, colocar 50%*/
    /*
    border-width: 2px;
    border-style: solid;
    border-color: white;
    */
    margin: 20px 30px 10px; /* margin define um espaçamento externo à imagem ou texto, entre as extremidades da pagina e a posição do item */
    /*
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-right: 30px;
    */
    padding: 0px; /* padding define um espaçamento interno, ou seja, entre a imagem-texto e a borda */
    box-shadow: 3px 3px 14px #757373; /*primeiro parametro é a distancia da sombra na horizontal, o segundo é a distancia na vertical, o terceiro é o desfoque da sombra, e o quarto é a cor */   
    
}

p {
    color:rgb(34, 34, 34)
}